.toasts-container {
  position: fixed;
  top: 0;
  right: calc(50% - 150px);
  z-index: 99999;

  .toast-container {
    width: 300px;
    height: 50px;
    background-color: #ffffff;
  }

  .toast-enter {
    opacity: 0;
  }

  .toast-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }

  .toast-exit {
    opacity: 1;
  }

  .toast-exit-active {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
}
