.home-page-hero-text {
  position: relative;
  font-size: 26px;
  font-weight: 300;
  margin-top: 24px;
  color: #f5f5f5;
  border: none;
  width: max-content;
  cursor: pointer;

  &:hover {
    .home-page-hero-text-border {
      background-color: #48a100;
    }
  }
}

.home-page-hero-text-border {
  height: 1px;
  width: 100%;
  background-color: green;
}

.home-page-hero-link-pointer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 140px;
  height: 1px;
  background-color: #48a100;
}
