.app-header-login-container {
  width: 300px;
  min-height: 300px;
  padding: 20px;
  color: #1f1f1f;

  .app-header-login-container-buttons {
    padding: 20px 0;

    button {
      &:first-of-type {
        margin-bottom: 10px;
      }
    }
  }

  .app-header-login-forgot-password {
    color: #fafafa;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &:hover {
      color: #5fd400;
      cursor: pointer;
    }
  }
}

.button-filled {
  width: 100%;
}
