.home-page-hero-container {
  grid-area: hero;
  background: linear-gradient(180deg, $lightGrey 20%, $darkGrey 93%);
  padding: 40px 60px;
  display: grid;
  grid-template-columns: 140px 1fr 30px;
  grid-template-rows: 100%;
  grid-template-areas: "links description action .";
}
