.home-container {
  display: grid;
  grid-template-rows: 43px 400px 350px 1fr;
  grid-template-columns: 1fr 350px 24px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  grid-template-areas:
    "log-in log-in log-in"
    "hero hero hero"
    "search results ."
    ". . .";

  .home-title {
    font-size: 32px;
  }

  .home-container-right-side {
    grid-area: results;
    display: flex;
    flex-direction: column;
  }
}

.home-container-latest-expand {
  grid-template-columns: 1fr 250px;
  grid-column-gap: 56px;
}
