.home-container {
  display: grid;
  grid-template-rows: 350px 1fr;
  grid-template-columns: 1fr 250px;
  grid-column-gap: 96px;
  grid-template-areas:
    "search latest"
    "results latest";

  .home-title {
    font-size: 32px;
    color: #ffffff;
  }
}
