.app-header-navigation {
  grid-area: navigation;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .app-header-navigation-link {
    padding: 0 10px;

    &:hover {
      cursor: pointer;
      text-decoration-line: underline;
    }
  }
}
